.description {
    text-align: start;
    margin: 0 2em 2em 2em;
}
strong {
    display: flex;
    text-align: start;
    margin: 0 0 1em 2em;
    // justify-content: start;
}
.img_screen {
    margin: 10px;
    // margin-right: 10px;
    // padding: 10px;
    border-radius: 10px;
}
.icon {
    width: 50px;
    border-radius: 10px;
    margin-right: 10px;
}
// .slider {
//     display: "flex";
//     flex-direction: "row";
//     padding: 0;
//     display: flex;
//   overflow-x: auto; /* Разрешить горизонтальную прокрутку */
//   white-space: nowrap; /* Запретить перенос строк */
//     // width: 400px;
// }
